{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-10">
                <div class="py-3 px-3 bg-light rounded">
                    <h1>Inscrivez-vous sur notre site</h1>
                        {{ form_start(form)}}
                        {{ form_widget(form)}}
                        <button type="submit" class="btn btn-success">Confirmer l'inscription</button>
                        {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
