<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>
        

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
		{% include "admin/partials/header.html.twig" %}
        {% block body %}{% endblock %}
		{% include "admin/partials/footer.html.twig" %}
    </body>
</html>
